{
  "proseWrap": "preserve",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
